.card-container {
  margin: 30px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% auto;
}

body {
  background-color: ghostwhite;
  font-family: 'Nunito', sans-serif;
}

.navbar {
  background-color: skyblue;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-brand {
  color: white;
  font-size: 1.5em;
}


.mod-name {
  padding: 30px;
}


.user-card {
  background-color: white;
  border-radius: 20px;
  padding: 5%;
  margin: 2%;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
}

.sign-up-form {
  background-color: lightblue;
  padding: 3%;
  display: none;
}

.sign-up-form form {
  margin: 2%;
}

#close-button {
  float: right;
}

.profile-pic {
  width: 80%;
  padding: 3%;
}

canvas {
	cursor: crosshair;
	display: none;
  background-color: #000;
	margin: 0;
}
